$darkBgColor:   #000;
$lightBgColor:  #FFF;
$primaryColor:  #E50914;

$videoPercentage: 80%;
$barPercentage: 20%;

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-container {
    background-color: $darkBgColor;
    height: 100vh;

    #logo-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        transition: opacity 2s;
        background-color: $darkBgColor;
    }

    #logo {
        position: relative;
        width: 30vh;
        height: 30vh;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    #circuit-logo {
        width: 100%;
        height: 100%;
        animation: pulse 4s infinite;
        animation-delay: 2s;
        animation-timing-function: ease;
        transition: transform 0.2s;
    }

    @keyframes pulse {
       0% {transform: scale(1);} 
       5% {transform: scale(1.1);} 
       10% {transform: scale(1);} 
       100% {transform: scale(1);} 
    }

    #start-message {
        position: absolute;
        bottom: 25vh;
        right: 50%;
        transform: translateX(50%);
        color: $lightBgColor;
        font-size: 4vh;
        text-transform: uppercase;
    }

    #arrow {
        position: absolute;
        color: white;
        bottom: 33vh;
        right: 50%;
        transform: translateX(50%);
        font-size: 3vh;
    }

}

#video-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: $darkBgColor;
    height: $videoPercentage;

    #main-video {
        width: 100%;
        height: 100%;
    }

}

#choice-container {
    z-index: 2147483647;
    position: absolute;
    bottom: 0;
    background-color: $darkBgColor;
    height: $barPercentage;
    width: 100%;
    transition: transform 2s;
    transition-delay: 0.5s;
    transform: translateY(100%);

    #timer-bar {
        background-color: $lightBgColor;
        top: 0;
        height: 5px;
        width: 0%;
        margin: auto;
        transition: width 10s linear;
    }

    #choice-bar {
        color: $lightBgColor;
        height: 100%;
        width: 80%;
        margin: auto;
        text-align: center;

        .choice, .clickable-choice, .selected-choice, .unselected-choice {
            position: relative;
            top: 25%;
            display: inline;
            font-size: 6vh;
            text-transform: uppercase;
            transition: color 0.5s;
        }

        .choice {
            color: grey;
            pointer-events: none;
        }

        .clickable-choice {
            color: grey;
            pointer-events: all;
        }

        .clickable-choice:hover {
            color: $lightBgColor;
            cursor: pointer;
        }

        .selected-choice {
            color: #FFF;
            pointer-events: none;
        }

        .unselected-choice {
            color: grey;
            pointer-events: none;
        }

        #choice1 {
            margin-right: 30%;
        }

    }

}

@media only screen and (max-width: 768px){
    #main-container {
        /*
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100vh;
        */
        transform: rotate(90deg);
    }

    #video-container {
        /*
        position: absolute;
        top: 0;
        bottom: 0;
        transform: rotate(90deg);
        */
        min-height: 100%;
        min-width: 100%;
    }

    #main-video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}