* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  background-color: #000;
  height: 100vh;
}

#main-container #logo-container {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

#main-container #logo {
  position: relative;
  width: 30vh;
  height: 30vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
}

#main-container #circuit-logo {
  width: 100%;
  height: 100%;
  -webkit-animation: pulse 4s infinite;
          animation: pulse 4s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#main-container #start-message {
  position: absolute;
  bottom: 25vh;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  color: #FFF;
  font-size: 4vh;
  text-transform: uppercase;
}

#main-container #arrow {
  position: absolute;
  color: white;
  bottom: 33vh;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 3vh;
}

#video-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #000;
  height: 80%;
}

#video-container #main-video {
  width: 100%;
  height: 100%;
}

#choice-container {
  z-index: 2147483647;
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 20%;
  width: 100%;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#choice-container #timer-bar {
  background-color: #FFF;
  top: 0;
  height: 5px;
  width: 0%;
  margin: auto;
  -webkit-transition: width 10s linear;
  transition: width 10s linear;
}

#choice-container #choice-bar {
  color: #FFF;
  height: 100%;
  width: 80%;
  margin: auto;
  text-align: center;
}

#choice-container #choice-bar .choice, #choice-container #choice-bar .clickable-choice, #choice-container #choice-bar .selected-choice, #choice-container #choice-bar .unselected-choice {
  position: relative;
  top: 25%;
  display: inline;
  font-size: 6vh;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#choice-container #choice-bar .choice {
  color: grey;
  pointer-events: none;
}

#choice-container #choice-bar .clickable-choice {
  color: grey;
  pointer-events: all;
}

#choice-container #choice-bar .clickable-choice:hover {
  color: #FFF;
  cursor: pointer;
}

#choice-container #choice-bar .selected-choice {
  color: #FFF;
  pointer-events: none;
}

#choice-container #choice-bar .unselected-choice {
  color: grey;
  pointer-events: none;
}

#choice-container #choice-bar #choice1 {
  margin-right: 30%;
}

@media only screen and (max-width: 768px) {
  #video-container {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 100vw;
  }
}
/*# sourceMappingURL=main.css.map */