$darkBgColor:   #000;
$lightBgColor:  #FFF;
$primaryColor:  #E50914;

$videoPercentage: 80%;
$barPercentage: 20%;

@font-face {
    font-family: 'ProximaNova';
	src: url('fonts/proximanovaregular-webfont.woff') format('woff'),
	     url('fonts/proximanovaregular-webfont.ttf') format('truetype');
}

* {
    font-family: 'ProximaNova';
    margin: 0;
    padding: 0;
    //overflow: hidden;
}

body {
    overflow: hidden;
}

iframe {
    display: none;
}

#main-container {
    background-color: $darkBgColor;
    height: 100vh;

    #logo-container, #intro-container, #end-container{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        transition: opacity 2s;
        background-color: $darkBgColor;
    }

    #intro-container {
        z-index: 99;
        letter-spacing: 5px;
    }

    #end-container {
        z-index: 95;
        color: $lightBgColor;
        opacity: 0;

        #h1-container {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        h1 {
            text-align: center;
            font-size: 6vh;
        }
    }

    #logo {
        position: relative;
        width: 30vh;
        height: 30vh;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    #circuit-logo {
        width: 100%;
        height: 100%;
        animation: pulse 4s infinite;
        animation-delay: 2s;
        animation-timing-function: ease;
        transition: transform 0.2s;
    }

    @keyframes pulse {
       0% {transform: scale(1);} 
       5% {transform: scale(1.1);} 
       10% {transform: scale(1);} 
       100% {transform: scale(1);} 
    }

    #intro-card, #title-card {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #FFF;
        opacity: 0;
        transition: opacity 2s;
        transition-delay: 1s;
        text-align: center;
        font-size: 5vh;
        width: auto;
        height: auto;
        margin: auto;
    }

    #start-message {
        position: absolute;
        bottom: 30%;
        right: 50%;
        transform: translateX(50%);
        color: $lightBgColor;
        font-size: 3vh;
        text-align: center;
        //text-transform: uppercase;
    }

    #arrow {
        position: absolute;
        color: white;
        bottom: 33vh;
        right: 50%;
        transform: translateX(50%);
        font-size: 3vh;
    }

}

#video-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: $darkBgColor;
    height: $videoPercentage;
    opacity: 1;
    transition: opacity 2s;

    #main-video {
        width: 100%;
        height: 100%;
    }

}

#choice-container {
    z-index: 2147483647;
    position: absolute;
    bottom: 0;
    background-color: $darkBgColor;
    height: $barPercentage;
    width: 100%;
    transition: transform 2s;
    transition-delay: 0.5s;
    transform: translateY(100%);

    #timer-bar {
        background-color: $lightBgColor;
        top: 0;
        height: 5px;
        width: 100%;
        margin: auto;
        transition: width 10s linear;
    }

    #choice-bar {
        color: $lightBgColor;
        height: 100%;
        width: 80%;
        margin: auto;
        text-align: center;

        .choice, .clickable-choice, .selected-choice, .unselected-choice {
            position: relative;
            top: 25%;
            display: inline;
            font-size: 6vh;
            text-transform: uppercase;
            transition: color 0.5s;
        }

        .choice {
            color: grey;
            pointer-events: none;
        }

        .clickable-choice {
            color: grey;
            pointer-events: all;
        }

        .clickable-choice:hover {
            color: $lightBgColor;
            cursor: pointer;
        }

        .selected-choice {
            color: #FFF;
            pointer-events: none;
        }

        .unselected-choice {
            color: grey;
            pointer-events: none;
        }

        #choice1 {
            margin-right: 30%;
            transition: opacity 1s;
        }

        #choice2 {
            transition: opacity 1s;
        }

    }

}

#form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $darkBgColor;
    z-index: 98;
    color: $lightBgColor;
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;

    #main-form {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        margin: auto;

        label {
            font-size: 1rem;
        }

        .genderbendinator {
            text-align: center;
        }

        .gender-container {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            font-size: 1.5rem;
            margin: auto;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .checkmark {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(50%, -50%);
                height: 1rem;
                width: 1rem;
                background-color: #eee;
                border-radius: 50%;
            }

            input:checked ~ .checkmark {
                background-color: red;
            }

        }

        input[type=text], select {
            font-size: 1.5rem;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $lightBgColor;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            font-size: 1.5rem;
            width: 100%;
            background-color: $primaryColor;
            color: $lightBgColor;
            padding: 14px 20px;
            margin: 20px 0 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #C40811;
        }
    }
}

#iframe-container {
    display: none;
}

@media only screen and (max-width: 768px){

    body {
        overflow: visible;
        background-color: $darkBgColor;
    }

    #main-container {
        height:  100%;
        width: 100%;
    }

    #logo-container {
        #start-message {
            font-size: 3vh;
            bottom: 20%;
        }
    }

    #intro-container, #video-container, #choice-container {
        display: none;
        pointer-events: none;
    }

    #form-container {
        opacity: 0;
        pointer-events: all;
        width: 100%;
        height: 100%;

        #main-form {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding-top: 30px;
            width: 90%;
            height: 100%;

            .gender-container {
                text-align: left;
                display: block;
            }
        }
    }

    #end-container {
        font-size: 3vh;
        opacity: 0;
    }
}